In [4]:
# pandas is a python lirbrary used for data manipulation , cleaning , analysis
# pandas has two main data structures 1) Series 2)DataFrame
# pandas saves time , reduces code , increases readabiliy
# Series is one dimensional labeled array 
# DataFrame is a two dimnesional labeled table

In [33]:
 import pandas as pd

In [34]:
s = pd.Series([1,2,3,4,5]);

In [35]:
print(s);

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [36]:
# custom indexing
s = pd.Series([10,20,30],index=["a","b","c"]);

In [37]:
print(s);

a    10
b    20
c    30
dtype: int64

In [38]:
print(type(s));

<class 'pandas.core.series.Series'>

In [39]:
print(s[2]);

30

C:\Users\Admin\AppData\Local\Temp\ipykernel_24076\665496240.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[2]);

In [40]:
print(s["a"]);

10

In [41]:
# position based access iloc 
print(s.iloc[2]);

30

In [42]:
# label based access loc
print(s.loc["a"]);

10

In [43]:
# vectorized operations
s = pd.Series([1,2,3,4,5]);

In [44]:
print(s);

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [45]:
# arithmentic operations on a Series data structure
print(s+5);
print(s ** 2);

0     6
1     7
2     8
3     9
4    10
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64

In [46]:
# element wise operations between two Series
s1 = pd.Series([1,2,3,4,5]);

In [47]:
print(s1+s);

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [48]:
print(s1 * s);

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [49]:
print(s1 // s);

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [50]:
print(s1 / s);

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [51]:
# boolean comparisions
print(s > 2);

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [52]:
# filtering
print(s[s > 2]);

2    3
3    4
4    5
dtype: int64

In [53]:
print(s);

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [54]:
# DataFrame : two dimensional labelled table

In [55]:
data = {
    "name" : ["satish","hari","raju"],
    "age" : [25,30,35],
    "city" : ["hyd","mum","kolkata"]
}

In [56]:
df = pd.DataFrame(data);

In [57]:
print(df);

     name  age     city
0  satish   25      hyd
1    hari   30      mum
2    raju   35  kolkata

In [58]:
print(df.index);

RangeIndex(start=0, stop=3, step=1)

In [59]:
print(df.columns);

Index(['name', 'age', 'city'], dtype='object')

In [60]:
df.index = ["a","b","c"];

In [61]:
print(df);

     name  age     city
a  satish   25      hyd
b    hari   30      mum
c    raju   35  kolkata

In [62]:
print(df.index);

Index(['a', 'b', 'c'], dtype='object')

In [63]:
# creating DataFrames

In [64]:
# from python lists 
data = [
    ["Alice",25],
    ["Bob",30],
    ["Charlie",35]
]

In [65]:
df = pd.DataFrame(data,columns=["Name","Age"]);

In [66]:
print(df);

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [67]:
# from numpy arrays 
import numpy as np

In [70]:
arr = np.array([[1,2,3],[4,5,6]]);

In [71]:
print(arr);

[[1 2 3]
 [4 5 6]]

In [72]:
df = pd.DataFrame(arr,columns=["a","b","c"]);

In [73]:
print(df);

   a  b  c
0  1  2  3
1  4  5  6