In [2]:
import pandas as pd

In [4]:
s = pd.Series([1,2,3,4,5]);

In [6]:
print(s);

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
print(type(s));

<class 'pandas.core.series.Series'>

In [10]:
s1 = pd.Series([34,78,90,45,67],index=["satish","hari","anil","shubam","sandy"]);

In [12]:
print(s1);

satish    34
hari      78
anil      90
shubam    45
sandy     67
dtype: int64

In [14]:
print(s1["satish"]);

34

In [17]:
data = {
    "name":["satish","hari","shiva"],
    "age":[45,67,55],
    "city":["bombay","chennai","banglore"]
}

In [19]:
table = pd.DataFrame(data);

In [21]:
print(table);

     name  age      city
0  satish   45    bombay
1    hari   67   chennai
2   shiva   55  banglore

In [24]:
print(type(table));

<class 'pandas.core.frame.DataFrame'>

In [26]:
print(table.columns);

Index(['name', 'age', 'city'], dtype='object')

In [28]:
print(table.index);

RangeIndex(start=0, stop=3, step=1)