In [2]:
import pandas as pd

In [3]:
data = [["anil",45],["Karthik",56],["siddu",67],["akash",89]];

In [5]:
df = pd.DataFrame(data,columns=["Name","marks"]);

In [7]:
print(df);

      Name  marks
0     anil     45
1  Karthik     56
2    siddu     67
3    akash     89

In [8]:
data = {"a":[1,2,3],"b":[5,6,8]};

In [10]:
df = pd.DataFrame(data);

In [12]:
print(df);

   a  b
0  1  5
1  2  6
2  3  8

In [13]:
import numpy as np

In [14]:
arr = np.array([[1,2,3],[4,5,6]]);

In [15]:
df = pd.DataFrame(arr,columns=["a","b","c"]);

In [16]:
print(df);

   a  b  c
0  1  2  3
1  4  5  6

In [8]:
import pandas as pd
df = pd.read_excel("data.xlsx");

In [10]:
print(df);

     Name Schiool  Marks
0  satish     ups     56
1    hari     sms     89
2    raju     rps     90

In [12]:
df = pd.read_csv("data.csv");

In [8]:
import pandas as pd

In [10]:
df = pd.read_json("data1.json");

In [12]:
print(df);

     name  age               skills
0  Satish   22  [Java, Python, SQL]
1  Satish   22  [Java, Python, SQL]

In [16]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

In [18]:
print(df);

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [21]:
print(df.head());

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
print(df.tail());

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [26]:
print(df.info());

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB
None

In [27]:
print(df.describe());

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [29]:
print(df.columns);

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [30]:
print(df.shape);

(244, 7)