In [2]:
import pandas as pd

In [3]:
data = [["anil",45],["Karthik",56],["siddu",67],["akash",89]];

In [5]:
df = pd.DataFrame(data,columns=["Name","marks"]);

In [7]:
print(df);

      Name  marks
0     anil     45
1  Karthik     56
2    siddu     67
3    akash     89

In [8]:
data = {"a":[1,2,3],"b":[5,6,8]};

In [10]:
df = pd.DataFrame(data);

In [12]:
print(df);

   a  b
0  1  5
1  2  6
2  3  8

In [13]:
import numpy as np

In [14]:
arr = np.array([[1,2,3],[4,5,6]]);

In [15]:
df = pd.DataFrame(arr,columns=["a","b","c"]);

In [16]:
print(df);

   a  b  c
0  1  2  3
1  4  5  6