In [1]:
import pandas as pd

In [2]:
data = {
    "Name":["satish","hari","raju"],
    "Math":[99,89,79],
    "English":[99,87,86],
    "Science":[90,83,99]
}

In [3]:
df = pd.DataFrame(data);

In [4]:
print(df);

     Name  Math  English  Science
0  satish    99       99       90
1    hari    89       87       83
2    raju    79       86       99

In [5]:
df1 = df.melt(id_vars=["Name"],value_vars=["Math","English","Science"],var_name="Subject",value_name="Score");

In [6]:
print(df1);

     Name  Subject  Score
0  satish     Math     99
1    hari     Math     89
2    raju     Math     79
3  satish  English     99
4    hari  English     87
5    raju  English     86
6  satish  Science     90
7    hari  Science     83
8    raju  Science     99

In [7]:
df2 = df1.pivot(index="Name",columns="Subject",values="Score");

In [8]:
print(df2);

Subject  English  Math  Science
Name
hari          87    89       83
raju          86    79       99
satish        99    99       90