In [1]:
import pandas as pd

In [2]:
employees = pd.DataFrame({
    "EmpId":[1,2,3],
    "Name":["Alice","Bob","Charlie"],
    "DeptId":[10,20,30]
})

In [3]:
departments = pd.DataFrame({
    "DeptId":[10,20,40],
    "DeptName":["HR","Engineering","Marketing"]
})

In [4]:
print(employees);

   EmpId     Name  DeptId
0      1    Alice      10
1      2      Bob      20
2      3  Charlie      30

In [5]:
print(departments);

   DeptId     DeptName
0      10           HR
1      20  Engineering
2      40    Marketing

In [6]:
#inner join
df = pd.merge(employees,departments,on="DeptId");

In [7]:
print(df);

   EmpId   Name  DeptId     DeptName
0      1  Alice      10           HR
1      2    Bob      20  Engineering

In [10]:
# left join
df = pd.merge(employees,departments,on="DeptId",how="left");

In [11]:
print(df);

   EmpId     Name  DeptId     DeptName
0      1    Alice      10           HR
1      2      Bob      20  Engineering
2      3  Charlie      30          NaN

In [12]:
#right join
df = pd.merge(employees,departments,on="DeptId",how="right");

In [13]:
print(df);

   EmpId   Name  DeptId     DeptName
0    1.0  Alice      10           HR
1    2.0    Bob      20  Engineering
2    NaN    NaN      40    Marketing

In [16]:
# outer join
df = pd.merge(employees,departments,on="DeptId",how="outer");

In [17]:
print(df);

   EmpId     Name  DeptId     DeptName
0    1.0    Alice      10           HR
1    2.0      Bob      20  Engineering
2    3.0  Charlie      30          NaN
3    NaN      NaN      40    Marketing

In [19]:
df1 = pd.DataFrame({
    "Name":["satish","hari"],
    "marks":[2,3]
})

In [29]:
df2 = pd.DataFrame({
    "Name":["karthik","siddu"],
    "marks":[4,5]
    
})

In [30]:
print(df1);

     Name  marks
0  satish      2
1    hari      3

In [31]:
print(df2);

      Name  marks
0  karthik      4
1    siddu      5

In [32]:
df = pd.concat([df1,df2]);

In [33]:
print(df);

      Name  marks
0   satish      2
1     hari      3
0  karthik      4
1    siddu      5

In [34]:
df = pd.concat([df1,df2],axis=1);

In [35]:
print(df);

     Name  marks     Name  marks
0  satish      2  karthik      4
1    hari      3    siddu      5

In [36]:
df = pd.concat([df1,df2],axis=0);

In [37]:
print(df);

      Name  marks
0   satish      2
1     hari      3
0  karthik      4
1    siddu      5